@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --color1: linear-gradient(
        115deg,
        rgb(0, 255, 255) 0%,
        rgb(233, 191, 250) 95%
    );
    --bg-header: rgb(0, 255, 255);
    --color-body: rgb(245, 222, 179);
    --bg-color-body: rgb(0, 0, 139);
    --bg-overlay: rgba(0, 0, 0, 0.7);
    --bg-btn: linear-gradient(
        335deg,
        /* rgb(172, 221, 173) 0%, */ rgb(0, 255, 255) 0%,
        rgb(233, 191, 250) 80%
    );

    /* PADDING */
    --padding1: 0.625rem;
    --door-padding: 1.5rem;

    /* FONT */
    --font-mobile: 1.125rem;
    --font-fam-1: 'Audiowide', cursive;
    --font-fam-2: 'Black Ops One', cursive;
}

body {
    font-family: var(--font-fam-1);
    color: var(--color-body);
    background-color: var(--bg-color-body);
    font-size: 1.25rem;
    line-height: 1.5;
    /* padding: 0 0.625rem; */
}

header {
    padding: var(--padding1);
    background-color: var(--bg-header);
    /* background-image: var(--color1); */
    display: flex;
    justify-content: center;
}

figure {
    display: flex;
    justify-content: center;
}

main {
    /* padding: var(--padding1); */
    text-align: center;
    position: relative;
    background: var();
}

table {
    padding: 0 3.5rem;
    margin: 0 auto;
}

td {
    padding: 0.5rem 0.15rem;
}

td:nth-child(odd) {
    font-size: 2rem;
    font-family: var(--font-fam-2);
}

td:nth-child(even) {
    max-width: 600px;
    max-inline-size: 600px;
    padding-left: 1rem;
    text-align: left;
}

#section1 figure {
    display: inline-block;
    padding: 0;
    cursor: pointer;
    margin: 1rem 2.5rem;
    height: 100%;
}

button {
    font: inherit;
    padding: 1rem;
    cursor: pointer;
    border-radius: 10px;
    margin: 1rem;
    background-image: var(--bg-btn);
    color: var(--bg-color-body);
    font-family: var(--font-fam-2);
}

#section2 {
    display: flex;
    justify-content: center;
}

.score {
    margin: 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    min-width: 205px;
    min-inline-size: 205px;
}

p {
    padding: var(--padding1);
    font-size: 1.5rem;
    display: inline;
    width: 100%;
    inline-size: 100%;
    /* match height */
    flex: 1;
}

.counter {
    border-radius: 10px;
    padding: 1rem 2rem;
    /* background-color: var(--color1); */
    background-image: var(--color1);
    color: var(--bg-color-body);
    margin-top: 1rem;
    margin: 1rem auto;
    margin-inline: auto;
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--font-fam-2);
}

.modal {
    position: absolute;
    height: 80vh;
    width: 65vw;
    inline-size: 65vw;
    overflow: auto;
    background-color: var(--bg-color-body);
    /* top: 50%; */
    left: 50%;
    z-index: 3;
    transform: translate(-50%, 0);
}

.overlay {
    z-index: 2;
    background: var(--bg-overlay);
    height: 100%;
    width: 100%;
    inline-size: 100%;
    position: absolute;
    filter: blur(1rem);
    bottom: 0;
}

.hidden {
    display: none;
}

.mobile {
    display: none;
}

@media screen and (max-width: 481px) {
    .big-screen {
        display: none;
    }

    .mobile {
        display: block;
        margin: 0.5rem auto;
    }

    table {
        padding: 0 1rem;
    }

    td:nth-child(even) {
        padding-left: 0.5rem;
    }

    #section1 {
        display: flex;
        flex-flow: wrap row;
        justify-content: space-around;
    }

    #section1 figure {
        padding: 0;
        cursor: pointer;
        margin: 0.15rem 0.5rem;
        height: 190px;
        width: auto;
        inline-size: auto;
    }

    .door img {
        width: auto;
        inline-size: auto;
        height: 100%;
    }

    #section2 {
        padding: 0 0.5rem;
    }

    button {
        font-size: var(--font-mobile);
        margin: 0.5rem;
    }

    p {
        font-size: var(--font-mobile);
        padding: 0;
    }

    .score {
        margin: 0;
        min-width: 180px;
        min-inline-size: 180px;
    }
}

@media screen and (max-width: 926.5px) and (orientation: landscape) {
    .big-screen {
        display: none;
    }

    .mobile {
        display: block;
        margin: 0.5rem auto;
    }

    body {
        display: grid;
        grid-template-rows: 15vh 1fr;
    }

    header {
        grid-area: 1 / span 1;
    }

    main {
        grid-area: 2 / span 1;
        display: grid;
        grid: 22vh repeat(2, 29vh) / repeat(3, 1fr) 32%;
    }

    button {
        font-size: var(--font-mobile);
        margin: 1rem 0.5rem 0 0.5rem;
        padding: 0.5rem;
    }

    p {
        font-size: var(--font-mobile);
        padding: 0;
    }

    table {
        padding: 0 1rem;
    }

    td:nth-child(even) {
        padding-left: 0.5rem;
    }

    #rules-btn {
        grid-area: 1 / 2 / span 1 / span 1;
        margin: 0.5rem;
        min-width: 190px;
        min-inline-size: 190px;
    }

    #section1 {
        display: flex;
        flex-flow: wrap row;
        justify-content: space-around;
        grid-area: 2 / 1 / span 2 / span 3;
        align-items: center;
    }

    #section1 figure {
        padding: 0;
        cursor: pointer;
        margin: 0.15rem 0.5rem;
        width: auto;
        inline-size: auto;
    }

    .door img {
        width: auto;
        inline-size: auto;
        inline-size: auto;
        height: 100%;
    }

    .landscape {
        grid-area: 1 / 4 / span 3 / span 1;
        height: auto;
        display: grid;
        grid: 22vh repeat(2, 29) / 1fr;
        /* overflow: hidden; */
    }

    #restart-btn {
        margin: 0.5rem auto;
        grid-area: 1 / 1 / span 1 / span 1;
    }

    #section2 {
        padding: 0 0.5rem;
        flex-flow: column;
        grid-area: 2 / 1 / span 2 / span 1;
        justify-content: space-around;
        line-height: 1.1;
    }

    .score {
        margin: 0;
        min-width: 180px;
        min-inline-size: 180px;
    }

    .counter {
        margin: 0.5rem auto;
        padding: 0.75rem 1.5rem;
        font-size: 1.5rem;
    }
}
